<div class="container">
    <div class="dashboardHeader">
        <img src="data:image/png;base64,{{profileImage}}">
        <h1><a id="main" href="/">Home</a> | <a id="main" href="/settings"> Settings</a></h1>
        <button type="submit"><a href="/logout">LOGOUT</a></button>
    </div>
    <div class="userContent">
        <div class="userEntry">
            <div class="imgdiv">
                <img src="data:image/png;base64,{{image}}">
            </div>
            <div class="datadiv">
                <h1>username: {{username}}</h1>
                <h1>Bio: {{bio}}</h1>
                <h1>Batch: {{batch}}</h1>
                <h1>Email: {{email}}</h1>
            </div>
        </div>

    </div>
</div>